<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Správne</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div ng-hide="timeInfo.newBestTime">
            <div class="row">
              <h2>Tvoj čas bol: {{timeInfo.finalTime | date:"mm:ss.sss"}}</h2>
            </div>
            <div class="row">
              <h2>Tvoj najlepší čas bol: {{timeInfo.bestTime | date:"mm:ss.sss"}}</h2>
            </div>
          </div>
          <div ng-show="timeInfo.newBestTime">
            <div class="row">
              <h2>Blahoželám, nový rekord!</h2>
            </div>
            <div class="row">
              <h2>Tvoj čas bol: {{timeInfo.finalTime | date:"mm:ss.sss"}}</h2>
            </div>
            <br/>
            <div class="row">
              <label>Môžeš si uložiť rekord</label>
            </div>
            <div class="row">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-4 col-sm-3 control-label">Krstné meno</label>
                  <div class="col-xs-3 col-sm-2">
                    <input type="text" class="form-control" ng-model="personalInfo.firstName" placeholder="Meno">
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-4 col-sm-3 control-label">Priezvisko</label>
                  <div class="col-xs-3 col-sm-2">
                    <input type="text" class="form-control" ng-model="personalInfo.lastName" placeholder="Priezvisko">
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-4 col-sm-3 control-label">Trieda</label>
                  <div class="col-xs-3 col-sm-2">
                    <input type="text" class="form-control" ng-model="personalInfo.class" placeholder="Trieda">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-show="timeInfo.newBestTime" type="button" ng-click="submit()" class="btn btn-success" data-dismiss="modal">Odoslať</button>
          <button ng-hide="timeInfo.newBestTime" type="button" class="btn btn-default" data-dismiss="modal">Zavrieť</button>
        </div>
      </div>
    </div>
  </div>
